[include]
    path = ~/.gitconfig.github.com

[includeIf "gitdir:**/dats.team/**"]
    path = ~/.gitconfig.dats.team

[includeIf "gitdir:**/riverstart/**"]
    path = ~/.gitconfig.riverstart.com

[core]
    eol = lf
    editor = nvim
    autocrlf = input
    compression = 9
    fsync = none
    whitespace = error
	  excludesfile = /Users/david_arutiunian/.gitignore_global

[user]
    name = David Arutyunyan

[advice]
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false

[blame]
    coloring = highlightRecent
    date = relative

[diff]
    context = 3
    renames = copies
    interHunkContext = 10

[init]
    defaultBranch = main

[log]
    abbrevCommit = true
    graphColors = blue,yellow,cyan,magenta,green,red

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all

[pager]
    branch = false
    diff = diff-so-fancy | $PAGER

[push]
    autoSetupRemote = true
    default = current
    followTags = true
    gpgSign = false

[pull]
    rebase = true

[submodule]
    recurse = true
    fetchJobs = 16

[rebase]
    autoStash = true

[tag]
    forceSignAnnotated = false

[color "blame"]
    highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "branch"]
    current  = magenta
    local    = default
    remote   = yellow
    upstream = green
    plain    = blue

[color "diff"]
    meta       = black bold
    frag       = magenta
    context    = white
    whitespace = yellow reverse

[interactive]
    diffFilter = diff-so-fancy --patch
    singlekey = true

[diff-so-fancy]
    markEmptyLines = false

[filter "lfs"]
	  clean = git-lfs clean -- %f
	  smudge = git-lfs smudge -- %f
	  process = git-lfs filter-process
	  required = true
