[include]
  path = ~/.config/git/core.gitconfig

[include]
  path = ~/.config/git/user.gitconfig

[include]
  path = ~/.config/git/appearance.gitconfig

[include]
  path = ~/.config/git/behavior.gitconfig

[include]
  path = ~/.config/git/tools.gitconfig
