local.dev {
	tls internal
	reverse_proxy localhost:3000
}

banzai.dev {
	tls internal
	reverse_proxy localhost:3000
}

vivi.dev {
	tls internal
	reverse_proxy localhost:3000
}

evolut.dev {
	tls internal
	reverse_proxy localhost:3000
}

porngid.dev {
	tls internal
	reverse_proxy localhost:3000
}
