[include]
    path = ~/.gitconfig.github.com

[includeIf "gitdir:**/MWL/**"]
    path = ~/.gitconfig.dats.team

[core]
    eol = lf
    editor = nvim
    autocrlf = false
    pager = delta

[user]
    name = David Arutyunyan

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default


[push]
    followTags = true
    autoSetupRemote = true

[pull]
    rebase = true

[tag]
    forceSignAnnotated = false

[alias]
    # Remove branches that have already been merged with main a.k.a. ‘delete merged’
    dm = "!f(){ git branch | grep -v "master" | grep -v ^* | xargs git branch -d; }; f"
    dmf = "!f(){ git branch | grep -v "master" | grep -v ^* | xargs git branch -D; }; f"
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    # View last commit prettified
    last = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit -1 HEAD
    # Unstage git changes
    unstage = reset --soft HEAD
    # Commit with message
    cm = commit -m
    # Commit and ammend
    cma = commit --amend --no-edit
    # Just a push
    p = push
    # Show short status
    sb = status --short --branch
    # Show full status
    se = !git rev-list --all | xargs git grep -F
    # List global config
    gl = config --global -l
    # Just a checkout
    co = checkout
    # Checkout a branhc
    cob = checkout -b
    # List aliases
    la = !git config -l | grep alias | cut -c 7-
    # List contributors
    contributors = git log --format='%aN' | sort -u
